{% extends "base.html" %}
{% load static %}
{% block content %}

  <script>
    function setThumbnailOne(event){
      const imgBox = document.querySelector('.image-box');
      let img = document.createElement('img'); // img 태그 동적 생성
      const reader = new FileReader(); // 파일정보 읽어올 객체 변수 생성

      reader.onload = function(event){ // 파일 정보를 읽으면 (사용자가 파일을 선택했으면)
        img.setAttribute('src', event.target.result); // 파일경로 추출해서 <img src=속석값으로 전달>

        // 이미지 박스 업데이트
        imgBox.innerHTML = ''; // 이미지 박스 초기화
        imgBox.appendChild(img); // 동적 생성한 img 태그를 이미지 박스에 추가
      };

      reader.readAsDataURL(event.target.files[0]);
    }

    function submitForm() {
      document.getElementById("uploadForm").submit();
    }

    function analyzeFood() {
      submitForm();  // 버튼클릭 시 폼 서브밋
    }
  </script>

  <main id='main'>
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Classify Food Image</h2>
          <ol>
            <li><a href="{% url 'main_app:index' %}">Home</a></li>
            <li>Analyze</li>
          </ol>
        </div>

      </div>
    </div><!-- End Breadcrumbs -->

    <section class='input-page'>
      <div class='container' data-aos='fade-up'>
        <div class="section-header"> 
          <h2>Classify Food</h2>
          <p>Please <span>upload</span> a photo of your dish here<br>We'll help you <span>find your food!</span></p>
        </div>

        <div class="row justify-content-center"> <!-- 중앙 정렬 -->
          <div class="text-center">
            <div class="image-box" id="imgPreviewOne">
              <!-- 이미지 미리보기가 여기에 나타납니다 -->
              <button type="button" onclick="document.getElementById('imgFile').click()"><span>Click</span> to put a <span>picture of your food</span></button>
            </div>
            <form id="uploadForm" method='post' enctype='multipart/form-data' action="{% url 'file_upload' %}">
              {% csrf_token %}
              <input type='file' name='imgFile' id='imgFile' style="display: none;" onchange="setThumbnailOne(event)">
            </form>

            {% comment %} <div id="imgPreviewOne"></div> {% endcomment %}
          </div>
        </div>

        <div class="d-flex justify-content-center" data-aos="fade-up">
          <a href="#" class="btn-book-a-table" onclick="analyzeFood()">Analyze Food</a>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}